{{define "layout"}}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>{{if .Title}}{{.Title}} — Awesome Web App{{else}}Awesome Web App{{end}}</title>
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>
    <header class="bg-emerald-500 flex justify-between items-center px-3 py-2">
        <a href="/">
            <h1 class="text-white bg-blue-600 p-1 -skew-x-6 hover:skew-x-0 transition">Awesome Web App</h1>
        </a>

        {{template "user_section" .}}
    </header>

    <main class="max-w-screen-md mx-auto py-3 px-2">
        {{template "content" .}}
    </main>
</body>

</html>

{{end}}
