{{define "content"}}

<h1 class="text-2xl mb-3 border-b border-blue-600">Your Profile</h1>

<form method="post">
    <div class="pb-1 mb-1 border-b border-gray-200">
        <label for="email" class="block">Email</label>
        <input type="email" class="w-full border border-gray-300 p-0.5 bg-gray-200 text-gray-500" id="email" name="email" value="{{.CurrentUser.Email}}" disabled>
    </div>

    <div class="pb-1 mb-1 border-b border-gray-200">
        <label for="username" class="block">Username</label>
        <input type="text" class="w-full border border-gray-300 p-0.5" id="username" name="username" value="{{if .CurrentUser.Username.Valid}}{{.CurrentUser.Username.Value}}{{end}}">
    </div>

    <button type="submit" class="block ml-auto bg-blue-600 text-white px-2 py-1 shadow-md">Save</button>
</form>

{{end}}
