{{define "user_section"}}

<section class="flex">
    {{if .CurrentUser}}
        {{with .CurrentUser}}
            <p class="border-r p-1 border-emerald-600">
                Hello, {{if .Username.Valid}}{{.Username.Value}}{{else}}dear user{{end}}!
            </p>
            <a
                class="border-r p-1 border-emerald-600 underline hover:bg-emerald-600 hover:text-white hover:no-underline transition"
                href="{{call $.URL "profile"}}"
            >
                Profile
            </a>
            <form action="{{call $.URL "logout"}}" method="post">
                {{$.csrfField}}
                <button
                    class="p-1 underline hover:bg-emerald-600 hover:text-white hover:no-underline transition"
                    type="submit"
                >
                    Logout
                </button>
            </form>
        {{end}}
    {{else}}
        <a href="{{call .URL "login"}}">
            <img src="/static/google_signin_button.svg" alt="Sign in with Google">
        </a>
    {{end}}
</section>

{{end}}
